/* ---- ------------------------------- ---- */
/* ---- DEBUT RESET CSS & CONFIGURATION ---- */
/* ---- ------------------------------- ---- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');
/* Couleurs du site : https://coolors.co/f1c40f-f39c12-1abc9c-2ecc71-2c3e50 */

* {
  /* Inclus le padding + la bordure */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #F8F8F8;
}

header, main {
  margin: 0 10px;
}

ul {
  list-style: none;
}

h1 {
  color: #2C3E50;
}

h2 {
  color: #1ABC9C;
}

h3 {
  color: #F39C12;
}
/* ---- ----------------------------- ---- */
/* ---- FIN RESET CSS & CONFIGURATION ---- */
/* ---- ----------------------------- ---- */

/**** START : Page Accueil ****/
/* NavBar */
.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.9); /* opacité de 90% */
}
/* Effet Parallax */
.parallax {
  background-image: url('assets/img/img-section-debissy.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
/**** END : Page Accueil ****/

/**** START : Page Galerie ****/
/* Galerie d'images */
.galerie img {
  transition: transform 0.5s ease;
}

.galerie img:hover {
  transform: scale(1.1);
}
/**** END : Page Galerie ****/

/* Boutons */
.btn-about {
  background-color: #2C3E50;
}
.btn-event1 {
  background-color: #F39C12;
}
.btn-event2 {
  background-color: #F1C40F;
}
.btn-event3 {
  background-color: #1ABC9C;
}

/* Footer */
footer {
  background-color: #2C3E50;
  color: #F1C40F;
}

footer p.text-muted {
  color: white !important;
}

/* -------------------------------------- */
/* ---- RESPONSIVE -- TABLETTE -- PC ---- */
/* -------------------------------------- */

@media screen and (min-width: 600px) {
  .btn {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 810px) {
  .navbar-transparent {
    background-color: #ffffff;
  }
}

/* iPhone 6/7/8/12/13 */
@media screen and (min-width: 375px) {
  h5 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .btn {
    font-size: 1.4rem;
  }
  .img-assoc {
    margin-bottom: 20px;
  }
}

/* iPad mini */
@media screen and (min-width: 768px) {
  .cards-event1 {
    background-color: #F1C40F;
    padding-bottom: 31px;
  }
  .cards-event2 {
    background-color: #F39C12;
    padding-bottom: 10px;
  }
  .cards-event3 {
    background-color: #1ABC9C;
  }
  .btn {
    font-size: 1.1rem;
  }
  footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 820px) {
  .cards-event3 {
    padding-bottom: 10px;
  }
  .cards-event1 {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 815px) {
  body {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .parallax {
    background-attachment: scroll;
    height: auto;
  }
}

